@charset "UTF-8"

body {
background-color: green;
font: 100% Georgia, Times, serif;
}
h1 {
font: 300% Arial, Helvetica, sans-serif;
color: #202347;
}
h2 {
color: #202347;
}
p {
color: darkblue;
}
#mainHeader {
background: url(Images/Logo.png)no-reat 25px center;
height: 185px;
padding: 0 75px 0 300px;
position: relative;
border-bottom: 2px solid #7f7f7f;
margin-bottom: 16px;
}

#wrapper {
width: 1100px;
margin: 0 auto;
padding: 0 50px;
text-align: left;
position: relative;
}


#mainHeader div {
margin-top: 16px;
}
#mainHeader ul {
list-style: none;
float: left;
}
#mainHeader ul li {
float: left;
}
#mainHeader ul li a {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #000;
padding: 0 20px;
border-right: 1px solid #000;
text-decoration: none;
}
#mainHeader ul li a.last {
border-right: none;
}
#mainHeader ul li a:hover {
color: #c00000;
}
}



